{% extends "master.html.twig" %}

{% block body %}
 {% include 'property_new/partials/banner.html.twig' %}
        <!-- ======= Services Section ======= -->
    <section class="section-services section-t8">
      {% include 'property_new/partials/_service.html.twig' %}
    </section><!-- End Services Section -->

     <!-- ======= Latest Properties Section ======= -->
    <section class="section-property section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Derniers Biens</h2>
              </div>
              <div class="title-link">
                <a href="property-grid.html">Tous les Biens
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="property-carousel" class="owl-carousel owl-theme">
          {% for property in properties %}
          <div class="carousel-item-b">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                 {% if property.imageName %}
                    <img src="{{ vich_uploader_asset(property,'imageFile')}}" alt="" class="img-a img-fluid"
                        style="width: 100%; height: 300px;">
                    {% else %}

                    <img src="{{ asset('images/default.png')}}" alt="pas d'image" class="img-a img-fluid"
                        style="width: 100%; height: 300px;">

                  {% endif %}
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="property-single.html">{{property.postalCode}}
                        <br/> {{property.city}}</a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">Prix | {{property.formattedPrice}} $</span>
                    </div>
                    <a href="property-single.html" class="link-a">Cliquez ici
                      <span class="ion-ios-arrow-forward"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                     <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">Surface</h4>
                        <span>{{property.surface}}
                          <sup>2</sup>
                        </span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Etage</h4>
                        <span>{{property.bedrooms}}</span>

                      </li>
                      <li>
                        <h4 class="card-info-title">Pieces</h4>
                        <span>{{property.rooms}}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Chauffage</h4>
                        <span>{{property.heatType}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section><!-- End Latest Properties Section -->
    
{% endblock body %}