{% extends "master.html.twig" %}
{% block body %}
     <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single"> {{property.city}}</h1>
              <span class="color-text-a"> {{property.adress}}, {{property.postalcode}}</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Sevice</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="{{path('property_index')}}">Biens</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  {{property.title}}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->
    <!-- ======= Property Single ======= -->
    <section class="property-single nav-arrow-b">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
              <div class="carousel-item-b">
                <img src="assets/img/slide-2.jpg" alt="">
              </div>
              <div class="carousel-item-b">
                <img src="assets/img/slide-3.jpg" alt="">
              </div>
              <div class="carousel-item-b">
                <img src="assets/img/slide-1.jpg" alt="">
              </div>
            </div>
            <div class="row justify-content-between">
              <div class="col-md-5 col-lg-4">
                <div class="property-price d-flex justify-content-center foo">
                  <div class="card-header-c d-flex">
                    
                    <div class="card-title-c align-self-center">
                      <h5 class="title-c"> {{property.formattedPrice}}</h5>
                    </div>
                    <div class="card-box-ico">
                      <span class="ion-money">$</span>
                    </div>
                  </div>
                </div>
                <div class="property-summary">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="title-box-d section-t4">
                        <h3 class="title-d">Caracteristique</h3>
                      </div>
                    </div>
                  </div>
                  <div class="summary-list">
                    <ul class="list">
                      <li class="d-flex justify-content-between">
                        <strong>Identifiant:</strong>
                        <span>{{property.id}}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Ville:</strong>
                        <span>{{property.city}}, </span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Options:</strong>
                        {% for option in property.options %}
                          <span>{{option.name}}</span>
                        {% endfor %}
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Etage:</strong>
                        <span>{{property.floor}}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Surface:</strong>
                        <span>{{property.surface}}
                          <sup>2</sup>
                        </span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Chambre:</strong>
                        <span>{{property.rooms}}</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Cuisine:</strong>
                        <span>2</span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Salle de bain:</strong>
                        <span>1</span>
                      </li>
                    </ul>
                    <!--              Bonus                         -->
                      <div class="row section-t3">
                        <div class="col-sm-12">
                          <div class="title-box-d">
                            <h3 class="title-d">Bonus</h3>
                          </div>
                        </div>
                      </div>
                      <div class="amenities-list color-text-a">
                        <ul class="list-a no-margin">
                          {% for bonus in property.bonuses %}
                          {% if not bonus.title %}
                          <li class="alert alert-warning text-center">Pas de bonus...</li>
                            {% else %}
                            <li>{{bonus.title}}</li>
                          {% endif %}
                          
                          {% endfor %}
                        </ul>
                      </div>
                    <!--FIN BONUS-->
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-lg-7 section-md-t3">
                <div class="row">
                  <div class="col-sm-12">
                     {% if property.imageName %}
                    <img src="{{ vich_uploader_asset(property,'imageFile')}}" alt="" class="img-a img-fluid"
                        style="width: 100%; height: auto;">
                    {% else %}

                    <img src="{{ asset('images/default.png')}}" alt="pas d'image" class="img-a img-fluid"
                        style="width: 100%; height: auto;">

                    {% endif %}
                  </div>
                  <div class="col-sm-12">
                    <div class="title-box-d">
                      <h3 class="title-d"> Description</h3>
                    </div>
                  </div>
                </div>
                <div class="property-description">
                  <p class="description color-text-a">
                   {{property.description}}.
                  </p>
                  <p class="description color-text-a no-margin">
                   {{property.description}}.
                  </p>
                </div>
              
              </div>
            </div>
          </div>
          <div class="col-md-10 offset-md-1">
            <ul class="nav nav-pills-a nav-pills mb-3 section-t3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-plans-tab" data-toggle="pill" href="#pills-plans" role="tab" aria-controls="pills-plans" aria-selected="false">Photo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-video-tab" data-toggle="pill" href="#pills-video" role="tab" aria-controls="pills-video" aria-selected="true">Video</a>
              </li>
      
              <li class="nav-item">
                <a class="nav-link" id="pills-map-tab" data-toggle="pill" href="#pills-map" role="tab" aria-controls="pills-map" aria-selected="false">Géo Localisation</a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade" id="pills-plans" role="tabpanel" aria-labelledby="pills-plans-tab">
                 {% if property.imageName %}
                    <img src="{{ vich_uploader_asset(property,'imageFile')}}" alt="" class="img-a img-fluid"
                        style="width: 100%; height: auto;">
                    {% else %}

                    <img src="{{ asset('images/default.png')}}" alt="pas d'image" class="img-a img-fluid"
                        style="width: 100%; height: auto;">

                    {% endif %}
              </div>
              <div class="tab-pane fade show active" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
                <iframe src="https://player.vimeo.com/video/73221098" width="100%" height="460" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              
              <div class="tab-pane fade" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
                <iframe src="https://www.google.com/maps/place/Kinshasa,+R%C3%A9publique+d%C3%A9mocratique+du+Congo/@-4.4009483,15.1826551,11z/data=!4m13!1m7!3m6!1s0x1a6a3130fe066a8b:0x168b7e4e1f52378d!2sKinshasa,+R%C3%A9publique+d%C3%A9mocratique+du+Congo!3b1!8m2!3d-4.4419311!4d15.2662931!3m4!1s0x1a6a3130fe066a8b:0x168b7e4e1f52378d!8m2!3d-4.4419311!4d15.2662931?hl=fr-FR" width="100%" height="460" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row section-t3">
              <div class="col-sm-12">
                <div class="title-box-d">
                  <h3 class="title-d">Contact Agent</h3>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <img src="{{asset('assets/img/agent-4.jpg')}}" alt="" class="img-fluid">
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="property-agent">
                  <h4 class="title-agent">Anabella Geller</h4>
                  <p class="color-text-a">
                    Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet
                    dui. Quisque velit nisi,
                    pretium ut lacinia in, elementum id enim.
                  </p>
                  <ul class="list-unstyled">
                    <li class="d-flex justify-content-between">
                      <strong>Telephone :</strong>
                      <span class="color-text-a">(222) 4568932</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Whatsapp:</strong>
                      <span class="color-text-a">777 287 378 737</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Email:</strong>
                      <span class="color-text-a">annabella@example.com</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Skype:</strong>
                      <span class="color-text-a">Annabela.ge</span>
                    </li>
                  </ul>
                  <div class="socials-a">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#">
                          <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">
                          <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">
                          <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">
                          <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">
                          <i class="fa fa-dribbble" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-4">
                <div class="property-contact">
                  <div class="form-a">
                       {{form_start(form_contact)}}
                    <div class="row">
                      <div class="col-md-12 mb-1">
                        <div class="form-group">
                          {{form_row(form_contact.firstname,{'attr':{'class':'form-control-lg form-control-a','id':'inputName'}})}}
                         <div class="form-group">{{form_row(form_contact.lastname)}}</div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-1">
                        <div class="form-group">
                         {{form_row(form_contact.email,{'attr':{'class':'form-control-lg form-control-a','id':'inputEmail1'}})}} 
                        </div>
                         <div class="form-group">
                         {{form_row(form_contact.tel,{'attr':{'class':'form-control-lg form-control-a','id':'inputEmail1'}})}} 
                        </div>
                      </div>
                      <div class="col-md-12 mb-1">
                        <div class="form-group">
                          {{form_row(form_contact.mesage,{'attr':{'id':'textMessage'}})}}
                        </div>
                      </div>
                      <div class="col-md-12">
                        <button type="submit" class="btn btn-a">Envoyer</button>
                      </div>
                    </div>
                  </div>
                    {{form_end(form_contact)}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Property Single-->
    
{% endblock body %}