 <!-- ======= Intro Section ======= -->
  <div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
     
     {% for property in properties %}
     <div class="carousel-item-a intro-item bg-image" style="background-image: url({{ vich_uploader_asset(property,'imageFile')}})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">{{property.adress}}
                      <br> code postal: {{property.postalCode}}</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">{{property.id}} </span> {{property.title}}
                      <br> {{property.city}}</h1>
                    <p class="intro-subtitle intro-price">
                      <a href="{{ path('property_show',{slug:property.slug, id:property.id})}}"><span class="price-a">Prix | {{property.formattedPrice}} $</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     {% endfor %}
    </div>
  </div><!-- End Intro Section -->