<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css')}}">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudfare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
    {% endblock %}
</head>

<body>
    {% include 'pages/layouts/_navbar.html.twig' %}
    {% block body %}
    <div class="container mt-4">

    </div>
    {% endblock %}
    {% block javascripts %}
    <script src="{{ asset('js/bootstrap.min.js')}}"></script>
    <script src="{{asset('jquery-3.2.1.min.js')}}"></script>
    <script src="{{asset('jquery.nice-select.min.js')}}"></script>
    <script src="https://cdnjs.cloudfare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('h2').hide();
        });
    </script>
    {% endblock %}
</body>

</html>